:root {
  --container-paddding: 20px;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
}

body {
  padding: 0 var(--container-paddding);
  /* padding-right: 10px; */
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
}

ol,
ul {
  padding-left: var(--container-paddding);
}

body > *,
form > * {
  margin-block-start: var(--input-margin-vertical);
  margin-block-end: var(--input-margin-vertical);
}

*:focus {
  outline-color: var(--vscode-focusBorder) !important;
}

a {
  color: var(--vscode-textLink-foreground);
}

a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}

code {
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-editor-font-family);
}

.label {
  display: flex;
  align-items: center;
  cursor: inherit;
  flex: auto;
  margin-left: -14px;
}

.label.loading {
  pointer-events: none;
  cursor: not-allowed !important;
  opacity: 0.5;
}

button {
  border: none;
  /* padding: var(--input-padding-vertical) var(--input-padding-horizontal); */
  width: 100%;
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
}

button.loading {
  cursor: progress;
  opacity: 0.6;
}

.loading {
  cursor: progress !important;
  opacity: 0.6 !important;
}

.loading > svg {
  color: orange !important;
  fill: currentColor !important;
}

.loading:hover {
  cursor: progress;
  opacity: 0.6 !important;
}

button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}

button.loading:hover {
  cursor: progress;
  opacity: 0.5;
}

button:focus {
  outline-color: var(--vscode-focusBorder);
}

button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

input:not([type="checkbox"]),
textarea {
  display: block;
  width: 100%;
  border: none;
  font-family: var(--vscode-font-family);
  /* padding: var(--input-padding-vertical) var(--input-padding-horizontal); */
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
}

input::placeholder,
textarea::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

a.nav-list__link {
  text-decoration: none;
  color: var(--color-foreground);
}

.nav-list__item_decorator {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  padding: 0.2rem 0rem;
  cursor: pointer;
}

.list__item_not_clickable {
  cursor: default !important;
}

.nav-list__item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  padding: 0.2rem 0rem;
  cursor: pointer;
  /* width: 100%; */
}

.nav-list__item_wide {
  width: 100%;
}

.nav-list__item:hover {
  background-color: var(--vscode-list-hoverBackground);
  color: var(--vscode-list-hoverForeground);
}

.nav-list__link.loading {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.nav-list__link {
  align-items: center;
  color: inherit;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 0rem;
  user-select: none;
}

.nav-list__icon {
  flex: none;
  opacity: 0.5;
}

.nav-list__label {
  user-select: none;
  flex: 1;
  font-weight: 400;
}

.nav-list__title {
  user-select: none;
  /* padding: 0 2rem; */
  font-size: 0.7rem !important;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;

  display: block;
  font-size: 1.5em;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
  /* margin-inline-start: -32px; */
  margin-inline-end: 0px;

  color: var(--color-foreground);
  opacity: 0.75;
}

.has-tooltip {
  position: relative;
}

.has-tooltip:before {
  content: attr(tooltip-text);
  min-width: 100px;
  background-color: var(--vscode-editor-background);
  border: 1px solid !important;
  border-color: var(--vscode-editorWidget-border) !important;
  color: var(--color-foreground);
  font-size: 12px;
  border-radius: 2px;
  padding: 6px 8px;
  position: absolute;
  z-index: 1000;
  top: -3.3em;
  left: 3%;
  margin-left: -20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.has-tooltip:hover:before,
.has-tooltip:hover:after {
  visibility: visible;
  opacity: 1;
}

.collapsible {
  text-align: left;
  cursor: pointer;
  touch-action: none;
  /* padding: 0rem 0rem; */
  background-color: transparent;
  color: var(--color-foreground);
}

.collapsible:before {
  content: "+ ";
  font-weight: bold;
}

.active.collapsible:before {
  content: "– ";
  font-weight: bold;
}

/* .collapsible span:before {
  fill: var(--vscode-editor-foreground);
  content: url("data:image/svg+xml,%3Csvg  width='24' height='24' viewBox='0 0 24 24'  xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M5.928 7.976l4.357 4.357-.618.62L5 8.284v-.618L9.667 3l.618.619-4.357 4.357z'%3E%3C/path%3E%3C/svg%3E");
}

.active.collapsible span:before {
  fill: var(--vscode-editor-foreground);
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24'  xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M7.976 10.072l4.357-4.357.62.618L8.284 11h-.618L3 6.333l.619-.618 4.357 4.357z'%3E%3C/path%3E%3C/svg%3E");
} */

.active:hover {
  background-color: var(--vscode-list-hoverBackground);
  color: var(--vscode-list-hoverForeground);
}

.collapsible:hover {
  background-color: var(--vscode-list-hoverBackground);
  color: var(--vscode-list-hoverForeground);
}

.collapsible-content {
  padding: 0 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}

.composer-input {
  width: auto !important;
  display: inline-block !important;
  border: none;
  font-family: var(--vscode-font-family);
  /* padding: var(--input-padding-vertical) var(--input-padding-horizontal); */
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
  height: 1em;
}

.composer-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.composer-select {
  width: auto !important;
  display: inline-block !important;
  border: none;
  font-family: var(--vscode-font-family);
  /* padding: var(--input-padding-vertical) var(--input-padding-horizontal); */
  color: var(--vscode-input-foreground);
  outline-color: var(--vscode-input-border);
  background-color: var(--vscode-input-background);
}

.composer-select-100 {
  width: 100% !important;
}

.not-checkbox {
  display: none;
  pointer-events: none;
}

.not-checkbox-label {
  pointer-events: none;
}

.hide-label {
  pointer-events: none;
  display: none;
}

.search-result {
  display: block;
}

.not-search-result {
  display: none;
  padding: 0px;
  margin: 0px;
}

.star-icon {
  margin-bottom: 0px;
}

.composer-control {
  gap: 0.1rem;
  padding: 0.1rem 0rem;
}

.clear-icon {
  cursor: pointer;
  padding-left: 10px;
}

.max-width-200 {
  max-width: 200px;
}
.max-width-100 {
  max-width: 100px;
}
.max-width-50 {
  max-width: 50px;
}
/* 
.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
} */

.run-icon {
  cursor: pointer;
  opacity: 0.3;
}
.run-icon:hover {
  opacity: 1;
}

.pause-run-icon {
  cursor: pointer;
  opacity: 0.3;
}
.pause-run-icon:hover {
  opacity: 1;
}

.star-icon {
  cursor: pointer;
  opacity: 0.3;
}
.star-icon:hover {
  opacity: 1;
}

.action-icon {
  cursor: pointer;
  opacity: 0.3;
}
.action-icon:hover {
  opacity: 1;
}

.settings-table-input {
  padding: 1px;
}

.param-input {
  max-width: 75px;
}

.command-inline {
  display: flex;
}

.hidden-by-default {
  display: none;
}
